---
layout: layouts/base.njk
pagination:
  data: collections.tagList
  size: 1
  alias: tag
permalink: "/tags/{{ tag | slugify }}/index.html"
eleventyComputed:
  title: 'Recipes tagged "{{ tag }}"'
---
<div class="tag-page-header">
  <a href="{{ '/' | url }}" class="recipe__back" data-i18n="recipe.back">← Wszystkie przepisy</a>
  <h1><span data-i18n="tags.label">Oznaczone</span> „<span data-i18n-tag="{{ tag | lower }}">{{ tag }}</span>"</h1>
</div>

<ul class="recipe-list">
  {% for recipe in collections.recipes %}
    {% if tag in recipe.data.tags %}
      {% include "partials/recipe-card.njk" %}
    {% endif %}
  {% endfor %}
</ul>
