{#
  Renders a single recipe row in the list.
  Expects `recipe` (an Eleventy collection item) in scope.
#}
<li
  class="recipe-card"
  data-search="{{ (recipe.data.title + ' ' + (recipe.data.tags | join(' ')) + ' ' + (recipe.data.ingredients | join(' '))) | lower }}"
  data-tags="{{ recipe.data.tags | join(' ') | lower }}"
>
  <a class="recipe-card__title" href="{{ recipe.url | url }}">{{ recipe.data.title }}</a>
  {% if recipe.data.tags %}
    <span class="recipe-card__tags">
      {% for tag in recipe.data.tags %}
        <span class="tag-pill" data-i18n-tag="{{ tag | lower }}">{{ tag }}</span>
      {% endfor %}
    </span>
  {% endif %}
</li>
